.question-display__header{
  margin: 10px 10px;
}

.question-display__question{
  margin: 100px 10px;
}

.question-display__question-number{
  margin: 10px 10px;
}

.question-display__response-buttons{
  margin: 10px 10px;
  button {
    height: 27px;
    width: 60px;
    margin: 10px;
  }
}
