.results__header{
  margin: 10px;
}

.results__question{
  margin: 20px 10px;
  text-align: left;
}

.results__question-list{
  list-style-type: none;
}

.results__question__correct-answer{
  margin: 10px;
}

.results__play-again-button{
  height: 40px;
  width: 80px;
  margin: 10px;
}
